@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.ui_fab {
  width: 56px;
  height: 56px;
  background-color: #5C3973;
  border-radius: 50%;
  color: #F3F3F3;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ui_box1 {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui_box2 {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui_input_field {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  gap: 14px 4px;
  grid-auto-flow: row;
  grid-template-areas: "grd_label" "grd_input";
  margin-bottom: 8px;
}
.ui_input_field .grd_label {
  color: #60AD8F;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  line-height: auto;
  text-align: left;
  grid-area: grd_label;
}
.ui_input_field .grd_label span {
  color: red;
}
.ui_input_field .grd_input {
  color: #383D47;
  font-weight: 400;
  font-size: 1em;
  line-height: auto;
  text-align: left;
  grid-area: grd_input;
}

#ui_nav {
  float: left;
  width: 200px;
  color: #FFF;
  background-color: #333;
}
#ui_nav ol {
  height: 100vh;
}
#ui_nav ol li {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 8px;
  cursor: pointer;
  border-bottom: 2px solid #FFF;
}
#ui_nav ol li:hover {
  color: #F3F3F3;
  background-color: #C71686;
}
#ui_nav ol ul li {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 8px 0 24px;
  color: #383D47;
  background-color: #F3F3F3;
  cursor: pointer;
  border-bottom: 1px solid #383D47;
}
#ui_nav ol ul li:hover {
  color: #F3F3F3;
  background-color: #C71686;
}
#ui_nav #partner_cnt {
  display: block;
}
#ui_nav #fos_cnt {
  display: none;
}
#ui_nav .active_nav {
  color: #F3F3F3;
  background-color: #C71686;
}

#ui_layout_partner {
  float: left;
  width: calc(100% - 200px);
}

#ui_layout_fos {
  float: left;
  width: calc(100% - 200px);
}

.ui_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 0 8px;
  padding: 0 16px;
  float: right;
  min-width: 90px;
  height: 36px;
  color: #F3F3F3;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #60AD8F;
  border-radius: 0 20px;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.31);
  text-transform: uppercase;
}
.ui_btn:hover {
  color: #F3F3F3;
  background: #C71686;
  box-shadow: none;
}

.ui_fab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin-top: 8px;
  background-color: #F06043;
  border-radius: 36px;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0px rgba(44, 44, 44, 0.31);
}
.ui_fab:hover {
  color: #F3F3F3;
  background: #C71686;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #B3AFB3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3AFB3;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.set_color0 {
  color: #F3F3F3;
  background-color: #383D47;
}

.set_color1 {
  color: #F3F3F3;
  background-color: #383D47;
}

.set_color2 {
  color: #F3F3F3;
  background-color: #F06043;
}

.set_color3 {
  color: #F3F3F3;
  background-color: #60AD8F;
}

.set_color4 {
  color: #383D47;
  background-color: #F4D100;
}

.set_color5 {
  color: #F3F3F3;
  background-color: #C71686;
}

.set_color6 {
  color: #383D47;
  background-color: #00D4D9;
}

.set_color7 {
  color: #F3F3F3;
  background-color: #7D392E;
}

.set_color8 {
  color: #383D47;
  background-color: #F9F2EA;
}

.panel_inf {
  float: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_title" "grd_val";
  padding: 0 0 0 21px;
}
.panel_inf .grd_title {
  color: #5C3973;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1em;
  line-height: auto;
  text-align: left;
  letter-spacing: 0.5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grd_title;
}
.panel_inf .grd_val {
  color: #F3F3F3;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.9em;
  line-height: auto;
  text-align: left;
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grd_val;
}

.lyt2_topbar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_left grd_right";
}
.lyt2_topbar .grd_left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_logo" "grd_path";
  grid-area: grd_left;
}
.lyt2_topbar .grd_left .grd_logo {
  grid-area: grd_logo;
}
.lyt2_topbar .grd_left .grd_path {
  color: #FFF;
  display: flex;
  align-items: center;
  grid-area: grd_path;
}
.lyt2_topbar .grd_right {
  grid-area: grd_right;
}

.module_panel_tlt1 {
  display: grid;
  grid-template-columns: 1fr 90px 90px 90px 36px;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas: "grs_title1 grs_title2 grs_title3 grs_title4 grd_cta";
  margin-bottom: 12px;
}
.module_panel_tlt1 .grs_title1 {
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.8px;
  font-size: 1em;
  color: #F3F3F3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title1;
}
.module_panel_tlt1 .grs_title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title2;
}
.module_panel_tlt1 .grs_title3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title3;
}
.module_panel_tlt1 .grs_title4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title4;
}
.module_panel_tlt1 .grd_cta {
  grid-area: grd_cta;
}
.module_panel_tlt1 .grd_cta .fab_cta {
  border-radius: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 48px;
  color: #FFF;
  font-size: 1.5em;
  border-radius: 1em;
  font-weight: 300;
  background-color: #C71686;
}

.module_panel_tlt2 {
  display: grid;
  grid-template-columns: 1fr 70px 60px 60px 60px 36px;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas: "grs_title1 grs_title2 grs_title3 grs_title4 grs_title5 grd_cta";
  margin-bottom: 12px;
}
.module_panel_tlt2 .grs_title1 {
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.8px;
  font-size: 1em;
  color: #F3F3F3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title1;
}
.module_panel_tlt2 .grs_title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title2;
}
.module_panel_tlt2 .grs_title3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title3;
}
.module_panel_tlt2 .grs_title4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title4;
}
.module_panel_tlt2 .grs_title5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title5;
}
.module_panel_tlt2 .grd_cta {
  grid-area: grd_cta;
}
.module_panel_tlt2 .grd_cta .fab_cta {
  border-radius: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 48px;
  color: #FFF;
  font-size: 1.5em;
  border-radius: 1em;
  font-weight: 300;
  background-color: #C71686;
}

.module_panel1 {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 90px 90px 90px 36px;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas: "grs_title grd_tasks grd_partner grd_fos grd_cta";
  margin-bottom: 30px;
}
.module_panel1 .grs_title {
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.8px;
  font-size: 1em;
  color: #F3F3F3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title;
}
.module_panel1 .grd_tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grd_tasks;
}
.module_panel1 .grd_tasks .tasks {
  min-width: 40px;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #60AD8F;
}
.module_panel1 .grd_partner {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grd_partner;
}
.module_panel1 .grd_partner .complited {
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #00CE15;
}
.module_panel1 .grd_partner .ccsts_draft {
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #006BBD;
}
.module_panel1 .grd_fos {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grd_fos;
}
.module_panel1 .grd_fos .complited {
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #00CE15;
}
.module_panel1 .grd_fos .ccsts_draft {
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #006BBD;
}
.module_panel1 .grd_cta {
  grid-area: grd_cta;
}
.module_panel1 .grd_cta .fab_cta {
  border-radius: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 48px;
  color: #FFF;
  font-size: 1.5em;
  border-radius: 1em;
  font-weight: 300;
  cursor: pointer;
  background-color: #C71686;
}

.module_panel2 {
  display: grid;
  grid-template-columns: 1fr 70px 60px 60px 60px 36px;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas: "grs_title1 grs_title2 grs_title3 grs_title4 grs_title5 grd_cta";
  margin-bottom: 30px;
}
.module_panel2 .grs_title1 {
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.8px;
  font-size: 1em;
  color: #F3F3F3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: grs_title1;
}
.module_panel2 .grs_title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grs_title2;
}
.module_panel2 .grs_title2 .frame {
  min-width: 40px;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #60AD8F;
}
.module_panel2 .grs_title3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grs_title3;
}
.module_panel2 .grs_title3 .frame {
  min-width: 40px;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #60AD8F;
}
.module_panel2 .grs_title4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grs_title4;
}
.module_panel2 .grs_title4 .frame {
  min-width: 40px;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #60AD8F;
}
.module_panel2 .grs_title5 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grs_title5;
}
.module_panel2 .grs_title5 .frame {
  min-width: 40px;
  padding: 0 8px;
  color: #FFF;
  font-size: 0.8em;
  line-height: 2em;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #60AD8F;
}
.module_panel2 .grd_cta {
  grid-area: grd_cta;
}
.module_panel2 .grd_cta .fab_cta {
  border-radius: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 48px;
  color: #FFF;
  font-size: 1.5em;
  border-radius: 1em;
  font-weight: 300;
  cursor: pointer;
  background-color: #C71686;
}

#tabs {
  list-style: none;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: #F3F3F3;
}
#tabs li {
  display: inline-block;
  padding: 0.5em;
  margin-right: -4px;
  color: #5C3973;
  min-width: 90px;
  text-align: center;
  line-height: 36px;
  font-size: 1.2em;
  font-weight: 800;
  cursor: pointer;
}
#tabs li:first-child {
  border-radius: 9px 0 0;
}
#tabs li:hover {
  color: #F3F3F3;
  background: #5C3973;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#tabs .active {
  color: #F3F3F3;
  background-color: #C71686;
}
#tabs .active:hover {
  color: #F3F3F3;
  background: #C71686;
  box-shadow: none;
}

.tab_cont {
  float: left;
  width: 100%;
  height: calc(100% - 50px);
  padding: 10px;
  color: #F3F3F3;
}
.tab_cont:last-child {
  display: none;
}

.qs_cat1 {
  padding: 8px;
  text-transform: uppercase;
  line-height: 20px;
  min-height: 32px;
  grid-area: grd_left;
}

.container {
  width: 100%;
}
.container details {
  width: 100%;
}
.container details summary {
  cursor: pointer;
}
.container details .fos_type {
  color: #F3F3F3;
  padding: 8px;
  background-color: #383D47;
  color: #F3F3F3;
  text-transform: uppercase;
}
.container details .fos_type::-webkit-details-marker {
  margin-right: 14px;
}
.container details .fos_assess {
  color: #F3F3F3;
  padding: 8px;
  background-color: #F06043;
  color: #F3F3F3;
  text-transform: uppercase;
}
.container details .fos_assess::-webkit-details-marker {
  margin-right: 14px;
}
.container details .fos_ra {
  color: #F3F3F3 !important;
  padding: 8px;
  background-color: #00D4D9;
  color: #383D47;
  text-transform: uppercase;
}
.container details .fos_ra::-webkit-details-marker {
  margin-right: 14px;
}
.container details .fos_ra span {
  margin-left: 12px;
  padding: 2px 8px;
  border: 2px solid #F3F3F3;
  border-radius: 4px;
  text-transform: capitalize;
}
.container details .fos_ra_msg {
  color: #383D47;
  padding: 8px;
  background-color: #F3F3F3;
  color: #383D47;
  border: 1px solid #00D4D9;
}
.container details .fos_ra_msg::-webkit-details-marker {
  margin-right: 14px;
}
.container details .partner_type {
  color: #F3F3F3;
  padding: 8px;
  background-color: #60AD8F;
  color: #F3F3F3;
  text-transform: uppercase;
}
.container details .partner_type::-webkit-details-marker {
  margin-right: 14px;
}
.container details .partner_type span {
  margin-left: 12px;
  padding: 2px 8px;
  border: 2px solid #F3F3F3;
  border-radius: 4px;
  text-transform: capitalize;
}
.container details .between {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw 10px 5vw;
}
.container details .between .msg_decision {
  clear: both;
}
.container details > details {
  margin: 5px 0;
  margin-left: 15px;
  position: relative;
  width: calc(100% - 15px);
}
.container details > details::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 1px;
  height: calc(36px + 10px);
  background-color: #F3F3F3;
}
.container details > details:last-child::after {
  height: calc(36px / 2 + 5px);
}
.container details > details::before {
  content: "";
  position: absolute;
  top: calc(36px / 2);
  left: -10px;
  width: 8px;
  height: 1px;
  background-color: #F3F3F3;
}
.container details > details[open]:not(:last-child)::after {
  height: calc(100% + 5px);
}
.container details > details .fos_type {
  color: #F3F3F3;
  padding: 8px;
  background-color: #383D47;
  color: #F3F3F3;
  text-transform: uppercase;
}
.container details > details .fos_type::-webkit-details-marker {
  margin-right: 14px;
}
.container details > details > details {
  margin: 5px 0;
  margin-left: 15px;
  position: relative;
  width: calc(100% - 15px);
}
.container details > details > details::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 1px;
  height: calc(28px + 10px);
  background-color: #F3F3F3;
}
.container details > details > details:last-child::after {
  height: calc(28px / 2 + 5px);
}
.container details > details > details::before {
  content: "";
  position: absolute;
  top: calc(28px / 2);
  left: -10px;
  width: 8px;
  height: 1px;
  background-color: #F3F3F3;
}
.container details > details > details[open]:not(:last-child)::after {
  height: calc(100% + 5px);
}
.container details > details > details .fos_type {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #F3F3F3;
  color: #383D47;
  position: relative;
}
.container details > details > details .fos_type span {
  color: #041320;
}
.container details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container details ul li {
  font-size: 0.9em;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #F3F3F3;
  color: #383D47;
  position: relative;
  margin-left: 15px;
  position: relative;
  width: calc(100% - 15px);
}
.container details ul li span {
  color: #041320;
}
.container details ul li::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 1px;
  height: calc(28px + 10px);
  background-color: #F3F3F3;
}
.container details ul li:last-child::after {
  height: calc(28px / 2 + 5px);
}
.container details ul li::before {
  content: "";
  position: absolute;
  top: calc(28px / 2);
  left: -10px;
  width: 8px;
  height: 1px;
  background-color: #F3F3F3;
}
.container details ul li[open]:not(:last-child)::after {
  height: calc(100% + 5px);
}
.container details .fos_recomended {
  font-size: 0.9em;
  margin: 0;
}

.radio-item1 {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
  font-size: 0.9em;
}
.radio-item1 input[type=radio] {
  display: none;
  cursor: pointer;
}
.radio-item1 label {
  color: #F3F3F3;
  font-weight: normal;
  cursor: pointer;
}
.radio-item1 label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 2px solid #F3F3F3;
  background-color: transparent;
}
.radio-item1 input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 11px;
  left: 12px;
  content: " ";
  display: block;
  background: #F3F3F3;
}

.radio-item2 {
  display: inline-block;
  position: relative;
  padding: 0 6px 10px 6px;
  font-size: 0.9em;
}
.radio-item2 input[type=radio] {
  display: none;
  cursor: pointer;
}
.radio-item2 label {
  color: #383D47;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.radio-item2 label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 2px solid #383D47;
  background-color: transparent;
}
.radio-item2 input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 11px;
  left: 12px;
  content: " ";
  display: block;
  background: #383D47;
}

.LYT1-Wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 111px 1fr 88px;
  grid-auto-columns: auto;
  gap: 0px 0px;
  grid-auto-flow: auto;
  grid-template-areas: "grd_header" "grd_count" "grd_footer";
  background-color: #F9F2EA;
  background-image: url(/images/lyt1bk.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 100%;
}
.LYT1-Wrapper .grd_header {
  padding: 8px 16px;
  grid-area: grd_header;
}
.LYT1-Wrapper .grd_count {
  padding: 8px 16px 0 16px;
  grid-area: grd_count;
}
.LYT1-Wrapper .grd_footer {
  padding: 16px;
  grid-area: grd_footer;
}
.LYT1-Wrapper .grd_footer .ui_fab {
  float: right;
}

.LYT2-Wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-auto-columns: auto;
  gap: 0px 0px;
  grid-auto-flow: auto;
  grid-template-areas: "grd_header" "grd_count";
  background-color: #60AD8F;
  height: 100%;
}
.LYT2-Wrapper .grd_header {
  padding: 8px 16px;
  grid-area: grd_header;
}
.LYT2-Wrapper .grd_count {
  padding: 8px 16px 0 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_left grd_right";
  background-image: url(/images/lyt2bk.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  grid-area: grd_count;
  height: 100%;
}
.LYT2-Wrapper .grd_count .grd_left {
  padding-left: 16px;
  background-color: #F3F3F3;
  grid-area: grd_left;
}
.LYT2-Wrapper .grd_count .grd_left .frame {
  overflow-y: scroll;
}
.LYT2-Wrapper .grd_count .grd_left .frame .form0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "l1c1 l1c2" "l2c1 l2c1" "l3c1 l3c2" "l4c1 l4c1";
  padding: 8px 0;
  max-width: 800px;
  max-height: calc(100vh - 68px);
  margin: 0 auto;
}
.LYT2-Wrapper .grd_count .grd_left .frame .form0 .l1c1 {
  padding: 14px 4px 0 0;
  grid-area: l1c1;
}
.LYT2-Wrapper .grd_count .grd_left .frame .form0 .l1c2 {
  padding: 14px 0 0 4px;
  grid-area: l1c2;
}
.LYT2-Wrapper .grd_count .grd_left .frame .form0 .l2c1 {
  padding: 14px 0;
  grid-area: l2c1;
}
.LYT2-Wrapper .grd_count .grd_left .frame .form0 .l3c1 {
  padding: 14px 4px 0 0;
  grid-area: l3c1;
}
.LYT2-Wrapper .grd_count .grd_left .frame .form0 .l3c2 {
  padding: 14px 0 0 4px;
  grid-area: l3c2;
}
.LYT2-Wrapper .grd_count .grd_left .frame .form0 .l4c1 {
  padding: 14px 0;
  grid-area: l4c1;
}
.LYT2-Wrapper .grd_count .grd_right {
  padding: 0 0 0 8px;
  grid-area: grd_right;
}
.LYT2-Wrapper .grd_count .grd_right .grd_right_cont {
  width: 100%;
  height: auto;
  background: #60AD8F;
  opacity: 0.8;
  padding: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .LYT2-Wrapper .grd_count .grd_left {
    grid-area: grd_left;
  }
  .LYT2-Wrapper .grd_count .grd_left .form0 {
    grid-template-columns: 1fr !important;
    grid-template-areas: "l1c1" "l1c2" "l2c1" "l3c1" "l3c2" "l4c1" "l4c1" !important;
  }
}
.LYT3-Wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-auto-columns: auto;
  gap: 0px 0px;
  grid-auto-flow: auto;
  grid-template-areas: "grd_header" "grd_count";
  background-color: #5C3973;
  height: 100%;
}
.LYT3-Wrapper .grd_header {
  padding: 8px 16px;
  grid-area: grd_header;
}
.LYT3-Wrapper .grd_header .panel_inf .grd_title {
  color: #F3F3F3;
}
.LYT3-Wrapper .grd_count {
  padding: 8px 16px 0 0;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_left grd_right" "grd_btns grd_right" "grd_bottom_nav grd_right";
  background-image: url(/images/lyt3bk.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  grid-area: grd_count;
  height: 100%;
}
.LYT3-Wrapper .grd_count .grd_left {
  padding-left: 16px;
  background-color: #5C3973;
  grid-area: grd_left;
}
.LYT3-Wrapper .grd_count .grd_right {
  padding: 0 0 0 8px;
  grid-area: grd_right;
}
.LYT3-Wrapper .grd_count .grd_right .grd_right_cont {
  width: 100%;
  height: 98%;
  background: #5C3973;
  opacity: 0.8;
  padding: 8px 8px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.LYT3-Wrapper .grd_count .grd_btns {
  padding: 21px 8px;
  grid-area: grd_btns;
}
.LYT3-Wrapper .grd_count .grd_bottom_nav {
  padding: 0 4px 16px 16px;
  grid-area: grd_bottom_nav;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_back grd_jumper grd_next";
}
.LYT3-Wrapper .grd_count .grd_bottom_nav .grd_jumper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: grd_jumper;
}
.LYT3-Wrapper .grd_count .grd_bottom_nav .grd_back {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: grd_back;
}
.LYT3-Wrapper .grd_count .grd_bottom_nav .grd_next {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: grd_next;
}

.LYTQs-Wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-auto-columns: auto;
  gap: 0px 0px;
  grid-auto-flow: auto;
  grid-template-areas: "grd_header" "grd_cont";
  background-color: #5C3973;
  height: 100%;
}
.LYTQs-Wrapper .grd_header {
  padding: 8px 16px;
  grid-area: grd_header;
}
.LYTQs-Wrapper .grd_header .panel_inf .grd_title {
  color: #F3F3F3;
}
.LYTQs-Wrapper .grd_cont {
  padding: 8px 16px 0 0;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_category grd_right" "grd_q grd_right" "grd_bottom_nav grd_right";
  background-image: url(/images/lyt3bk.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  grid-area: grd_cont;
  height: 100%;
}
.LYTQs-Wrapper .grd_cont .grd_category {
  padding: 8px 0 0 16px;
  height: auto;
  grid-area: grd_category;
}
.LYTQs-Wrapper .grd_cont .grd_q {
  padding: 0 0 0 16px;
  overflow: none;
  max-height: calc(100vh - 224px);
  overflow-y: auto;
  grid-area: grd_q;
}
.LYTQs-Wrapper .grd_cont .grd_right {
  padding: 0 0 0 8px;
  grid-area: grd_right;
}
.LYTQs-Wrapper .grd_cont .grd_right .grd_right_cont {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 98%;
  background: #5C3973;
  opacity: 0.8;
  padding: 8px 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.LYTQs-Wrapper .grd_cont .grd_bottom_nav {
  padding: 0 4px 16px 16px;
  grid-area: grd_bottom_nav;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grd_back grd_jumper grd_next";
}
.LYTQs-Wrapper .grd_cont .grd_bottom_nav .grd_jumper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: grd_jumper;
}
.LYTQs-Wrapper .grd_cont .grd_bottom_nav .grd_back {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: grd_back;
}
.LYTQs-Wrapper .grd_cont .grd_bottom_nav .grd_next {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: grd_next;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
