@import 'abstracts/setting.scss',
'abstracts/mixins.scss',
'abstracts/ui_demo.scss';

@import 'base/theme_default.scss';

@import 'components/panels.scss',
'components/topnav.scss',
'components/modules.scss',
'components/chips.scss',
'components/tabs.scss',
'components/questions.scss';

@import 'layaouts/lyt1.scss',
'layaouts/lyt2.scss',
'layaouts/lyt3.scss',
'layaouts/lytqs.scss';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}