.lyt_topbar1 {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "grd_left grd_right";

    .grd_left {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "grd_logo"
            "grd_path";
        grid-area: grd_left;

        .grd_logo {
            grid-area: grd_logo;
        }

        .grd_path {
            color: #FFF;
            display: flex;
            align-items: center;
            grid-area: grd_path;
        }
    }

    .grd_right {
        grid-area: grd_right;
    }
}