.LYT2-Wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-auto-columns: auto;
    gap: 0px 0px;
    grid-auto-flow: auto;
    grid-template-areas:
        "grd_header"
        "grd_cont";

    background-color: $cc3;
    height: 100%;


    .grd_header {
        padding: 8px 16px;
        grid-area: grd_header;
    }

    .grd_cont {
        padding: 8px 16px 0 0;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "grd_left grd_right";

        background-image: url(/images/lyt2bk.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right bottom;
        grid-area: grd_cont;
        height: 100%;

        .grd_left {
            padding-left: 16px;
            background-color: $cc9;
            grid-area: grd_left;

            .frame{
                overflow-y: scroll;

                .form0 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-auto-columns: auto;
                grid-auto-rows: auto;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                    "l1c1 l1c2"
                    "l2c1 l2c1"
                    "l3c1 l3c2"
                    "l4c1 l4c1";

                //height: 90vh;
                padding: 8px 0;
                max-width: 800px;
                max-height: calc(100vh - 68px);
                margin-top: 0px;
                margin-right: 10px;
                margin-bottom: 0px;
                margin-left: auto;

                .l1c1 {
                    padding: 14px 4px 0 0;
                    grid-area: l1c1;
                }

                .l1c2 {
                    padding: 14px 0 0 4px;
                    grid-area: l1c2;
                }

                .l2c1 {
                    padding: 14px 0;
                    grid-area: l2c1;
                }

                .l3c1 {
                    padding: 14px 4px 0 0;
                    grid-area: l3c1;
                }

                .l3c2 {
                    padding: 14px 0 0 4px;
                    grid-area: l3c2;
                }

                .l4c1 {
                    padding: 14px 0;
                    grid-area: l4c1;
                }
            }
            }

            
        }

        .grd_right {
            padding: 0 0 0 8px;
            grid-area: grd_right;

            .grd_right_cont {
                width: 100%;
                height: auto;
                background: #60AD8F;
                opacity: 0.8;
                padding: 8px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

}

@media (max-width: 1024px) {
    .LYT2-Wrapper {
    
        .grd_count {
    
            .grd_left {
                grid-area: grd_left;
    
                .form0 {
                    grid-template-columns: 1fr!important;
                    grid-template-areas:
                        "l1c1"
                        "l1c2"
                        "l2c1"
                        "l3c1"
                        "l3c2"
                        "l4c1"
                        "l4c1"!important;
                }
            }

        }
    
    }
  }