$cc0: #383D47;
$cc1: #5C3973;
$cc2: #F06043;
$cc3: #60AD8F;
$cc4: #F4D100;
$cc5: #C71686;
$cc6: #00D4D9;
$cc7: #7D392E;
$cc8: #F9F2EA;
$cc9: #F3F3F3;


$radius: 4px;
$shadow: drop-shadow(14px 14px 14px rgba(0, 0, 0, 0.25));